.career-section{
    width: 100%;
}

/*Header CSS*/
.career-header{text-align: center;}
.career-header h1 {
    font-size: 55px;
    line-height: 1.5em;
    margin: 25px 0;
}
.boss-mail { color: #38B6FF;}
.boss-mail:hover { color: rgb(0, 146, 230); transition: 0.16s ease-in; cursor: pointer;}

/*Container CSS*/
.career-container {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    position: relative;
    z-index: 1;
    margin: 20px 0;
}
.career-container .career-container:last-child {
    margin-right: 0px;
}